.sorting p {
  margin: 0 auto;
  max-width: max-content;
}

.up {
  background-image: url(../img/2931161_arrow_top_up_direction_move_icon.png);
  background-size: 100%;
  margin-left: 0.5em;
}

.up:focus {
  border-radius: 20%;
  background-color: rgba(92, 67, 61, 0.137);
}

.down {
  background-image: url(../img/2931160_down_direction_download_pointer_arrow_icon.png);
  background-size: 100%;
  background-color: inherit;
}

.down:focus {
  border-radius: 20%;
  background-color: rgba(92, 67, 61, 0.137);
}

.sortingActive {
  border-radius: 20%;
  background-color: rgba(92, 67, 61, 0.137);
}

.sorting button {
  height: 1.8em;
  width: 1.8em;
  border: 0;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(92, 67, 61, 0.541);
  border-radius: 20%;
  margin-right: 5px;
}
