.itemOfList {
  display: flex;
  justify-content: space-between;
  margin: 0.3em 15%;
  background-color: rgb(233 226 220);
  border: 1px solid rgb(104, 83, 55);
  align-items: center;
  border-radius: 0.3em;
  max-height: 1.5em;
  font-size: 25px;
}

.checkbox {
  width: 2em;
  height: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 0.5em;
  background-size: 50% 50%;
  box-shadow: none;
  align-items: center;
}

.content {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.content p {
  padding-top: 0.1em;
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
  align-items: center;
  width: 80px;
}

.itemOfList button {
  height: 1.8em;
  width: 1.8em;
  border: 0;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url(../img/x_icon.png);
  background-repeat: no-repeat;
  background-size: 80%;
  margin-right: 5px;
  margin-top: 0.1em;
  margin-left: 0.2em;
}

.date {
  font-size: 15px;
}

.dateAndDelete {
  display: flex;
  align-items: center;
}

.editInput {
  box-shadow: none;
  background-color: rgba(194, 163, 154, 0.329);
  max-width: 5em;
  font-size: 25px;
  border: 1px solid rgb(90, 45, 29);
  border-radius: 0.3em;
  padding-top: 0.1em;
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
  align-items: center;
  width: 80px;
  outline: none;
  font-stretch: expanded;
}
