.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.pageNumber {
  margin-left: 0.1em;
}

.pagination button {
  font-size: 18px;
  background-color: rgba(65, 52, 33, 0.418);
  border: 1px solid rgba(92, 67, 61, 0.541);
  outline: none;
  cursor: pointer;
  border-radius: 0.2em;
}

.pagination button:focus {
  background-color: rgba(177, 155, 149, 0.623);
}
