.dataSort {
  margin-bottom: 1em;
  text-align: center;
}

.up {
  background-image: url(../img/2931161_arrow_top_up_direction_move_icon.png);
  background-size: 100%;
  background-color: inherit;
}

.down {
  background-image: url(../img/2931160_down_direction_download_pointer_arrow_icon.png);
  background-size: 100%;
  background-color: inherit;
}

.dataSort button {
  width: 1.5em;
  height: 1.5em;
  border: none;
  cursor: pointer;
  margin-left: 1em;
}
